@import "./styles/global"

.app
  display: flex
  flex-direction: column
  height: 100vh
  overflow: hidden

  &__content
    flex: 1
    overflow: hidden
    
  &__placeholder
    display: flex
    justify-content: center
    align-items: center
    min-height: calc(100vh - 60px)
    font-size: 1.5rem
    color: $color-text-secondary
    font-weight: 500
